services:
  openssh-server:
    build: server
    container_name: music-server
    # hostname: music-server
    env_file: server/.env.server
    volumes:
      - ./server/config:/config
      - ./music:/music
    # ports:
    #   - ${SSH_PORT}:2222
    healthcheck:
      test: nc -zv 127.0.0.1 2222
      interval: 5s
      timeout: 5s
      retries: 10
      start_period: 30s
    restart: always
    network_mode: service:tunnel

  tunnel:
    build: tunnel
    container_name: tunnel
    hostname: music-server-tunnel
    env_file: tunnel/.env.tunnel
    environment:
      - TS_STATE_DIR=/var/lib/tailscale
      - TS_USERSPACE=false
    volumes:
      - music-server-tunnel:/var/lib/tailscale
      - /dev/net/tun:/dev/net/tun
    cap_add:
      - NET_ADMIN
    restart: unless-stopped
    healthcheck:
      test: "tailscale status --peers=false --json | jq -e '.Self.Online'"
      interval: 5s
      timeout: 5s
      retries: 10
      start_period: 30s

  telegram-bot:
    build: telegram_bot
    container_name: music-server-bot
    env_file: telegram_bot/.env.bot
    network_mode: service:tunnel
    volumes:
      - ./music:/music
    depends_on:
      openssh-server:
        condition: service_healthy
      tunnel:
        condition: service_healthy
    restart: always

volumes:
  music-server-tunnel:
    driver: local
